.menu_container {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
  }
  
  .logox {
    max-width: 120px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .menu_name {
    margin-left: 10px; /* Espaçamento entre logo e nome */
  }
  
  .namex {
    margin: 0; /* Remove as margens padrão do h1 */
  }
  